<%- include ('./partials/header') %>
	   <link href="/style.css" rel="stylesheet" type="text/css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
<%- include ('./partials/last') %>

<div class="container-fluid">
	<%- include ('./partials/nav',{user:data.user.username}) %>
<h1> Hello everyone!!
	<b>signed in as <%=data.user.username %></b>
	</h1>
	<div style="display:none;" id="handle" value="<%= data.user.username %>"></div>	
	<div style="display:none;" id="handle1" value="<%= data.sender %>"></div>
	<div style="display:none;" id="handle2" value="<%= data.rec %>"></div>	
	<div id="chat">
		<div id="chat-window">
			<div id="output"></div>
			<div id="feedback"></div>
		</div>
		<div>
			<input id="message" type="text" placeholder="message" required>
			<button id="send">
				send
			</button>
			<div id="private">
				
			</div>
		</div>
	</div>
	<script src="/personal.js"></script>
	
</div>
<%- include ('./partials/footer') %>
	
